:root {
  /* Colors */

  /* Basic */
  --light: #fefefd;
  --dark: #141c17;

  /* Primary */
  --primary-1: #769583;
  --primary-2: #3b634c;
  --primary-3: #224e34;
  --primary-4: #1c2e23;

  /* Secondary */
  --secondary-1: #bbc5d8;
  --secondary-2: #3963b7;
  --secondary-3: #0f3e9a;
  --secondary-4: #1a2e55;

  /* Tertiary */
  --tertiary-1: #581830;
  --tertiary-2: #ad919b;
  --tertiary-3: #6c3248;
  --tertiary-4: #321721;

  /* Spacing */
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-80: 5rem;

  /* Aliases */
  --primary: var(--primary-3);
  --secondary: var(--secondary-3);
  --tertiary: var(--tertiary-3);
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-30);
}

.navigation ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navigation li {
  padding: var(--spacing-10);
}

.logo {
  max-width: 40%;
}
