:root {
  /* Colors */

  /* Basic */
  --light: #fefefd;
  --light-50: #f5f5f5;
  --dark: #141c17;

  /* Primary */
  --primary-05: #e9ffac;
  --primary-1: #d6ff63;
  --primary-2: #bae747;
  --primary-3: #93c020;
  --primary-4: #6d9a00;
  --primary-5: #426f00;

  /* Secondary */
  --secondary-05: #ffffaa;
  --secondary-1: #fffc77;
  --secondary-2: #ffe863;
  --secondary-3: #f5ca45;
  --secondary-4: #d3a823;
  --secondary-5: #ad8200;

  /* Tertiary */
  --tertiary-05: #ffc4a1;
  --tertiary-1: #ff9471;
  --tertiary-2: #ff6946;
  --tertiary-3: #e74a27;
  --tertiary-4: #c82b08;
  --tertiary-5: #a70a00;

  /* Spacing */
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-50: 3rem;
  --spacing-80: 5rem;

  /*fonts*/

  --font-size-body-small: clamp(0.75rem, 0.45vw + 0.64rem, 1rem);
  --font-size-body: clamp(0.94rem, 0.72vw + 0.76rem, 1.33rem);
  --font-size-body-lead: clamp(1.17rem, 1.1vw + 0.9rem, 1.78rem);
  --font-size-heading-h3: clamp(1.46rem, 1.64vw + 1.05rem, 2.37rem);
  --font-size-heading-h2: clamp(1.83rem, 2.41vw + 1.23rem, 3.16rem);
  --font-size-display-heading: clamp(2.29rem, 3.49vw + 1.42rem, 4.21rem);
  --font-size-Display-mega: clamp(2.86rem, 5vw + 1.61rem, 5.61rem);

  --font-hind-madurai: "Hind Madurai", sans-serif;

  /*Border radius*/
  --border-radius-s: 12px;
  --border-radius-m: 30px;

  /* Aliases */
  --primary: var(--primary-3);
  --secondary: var(--secondary-3);
  --tertiary: var(--tertiary-3);
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-hind-madurai);
}
h1 {
  font-size: var(--font-size-display-heading);
}
h2 {
  font-size: var(--font-size-heading-h2);
}
h3 {
  font-size: var(--font-size-heading-h3);
}
p {
  font-size: var(--font-size-body);
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0s;
}

.no-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: var(--font-size-display-heading);
}

a {
  cursor: pointer;
}

/* Header */

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-10);
  padding-right: 4rem;
  padding-left: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navigation li {
  padding: var(--spacing-10);
}

.logo {
  max-width: 70%;
  min-width: 50%;
}

/*BURGER MENU*/
.burger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
  margin: auto;
}

.burger-top,
.burger-middle,
.burger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.burger-middle {
  transform: translateY(7px);
}

.burger-bottom {
  transform: translateY(14px);
}

.open .burger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .burger-middle {
  display: none;
}

.open .burger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  right: 0;
  top: var(--spacing-50);
  background-color: var(--light);
  width: 90%;
  height: 100%;
  padding: var(--spacing-20);
  transition: all 0.6s;
  z-index: 10;
}

.mobile-menu li {
  list-style: none;
  text-decoration: none;
  padding: 1rem 0.5rem;
}

.mobile-menu .first {
  padding-top: 3rem;
}

/* Payment flow */

/*Links*/
a:link,
a:visited {
  font-size: var(--font-body-small);
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--primary-5);
  text-decoration: underline;
}

/*Button*/
.btn {
  border-radius: 50px;
  padding: var(--spacing-10) var(--spacing-40);
  max-width: 300px;
  border: none;
  font-size: var(--font-body);
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
}

.neutral {
  color: var(--light);
  background: var(--dark);
}

.color {
  color: var(--light);
  background: var(--secondary);
}

.inverted {
  border: 1px solid var(--dark);
  background: none;
  color: var(--dark);
}

/*****Index page*****/

/* hero section*/

.hero_section {
  display: block;
  padding: 1rem;
}

.hero_section h1 {
  color: var(--dark);
  padding: 1rem;
}

.hero_section .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: var(--light-50);
  padding: 3rem;
  border-radius: 30px;
}

.hero_section .buttons {
  display: flex;
  flex-direction: row;
}

.hero_section input {
  padding: 1rem 6rem;
  border-radius: 12px;
  border: none;
  margin: 1rem;
}

@media (min-width: 800px) {
  .hero_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--light);
  }

  .hero_section article {
    padding: auto;
    margin: auto;
  }

  .hero_section h1 {
    padding: 5rem;
  }
}

.hero_section img {
  max-width: 70%;
}

.hero_section button,
.glemt {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.4rem;
}

.glemt {
  margin-top: -0.5rem;
}

/*Media query*/

@media (min-width: 750px) {
  .navigation li {
    padding: var(--spacing-20);
    padding-top: 1.5rem;
  }
}

@media (min-width: 900px) {
  .navigation li {
    padding: var(--spacing-20);
    padding-top: 1.5rem;
  }
}

@media (min-width: 750px) {
  .navigation li {
    padding: var(--spacing-10);
    padding-top: 1rem;
  }

  .logo {
    max-width: 50%;
    min-width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .burger {
    display: block;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation ul {
    display: none;
  }
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-40);
  font-size: var(--font-body-small);
  padding: var(--spacing-20) var(--spacing-40);
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  line-height: var(--spacing-40);
}

/*landingPage*/

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro {
  padding: var(--spacing-40) var(--spacing-15);
}
.intro ul {
  list-style: none;
  padding: var(--spacing-20) 0;
}
.intro ul p {
  font-size: var(--font-size-body-small);
}

.intro p {
  max-width: 800px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-40);
  padding: var(--spacing-30) 0;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 600px) {
  .options {
    flex-direction: column;
  }
}

#saldo {
  color: var(--tertiary-4);
}

.menu {
  padding: var(--spacing-40) var(--spacing-15);
  background: var(--primary-05);
}

.menu ol {
  list-style: none;
  padding: var(--spacing-20) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu li {
  font-size: var(--font-size-body-lead);
  line-height: var(--spacing-30);
  width: 270px;
}

.menu p {
  font-size: var(--font-size-body-small);
  margin-bottom: var(--spacing-10);
}

/* Payment page */

@media (min-width: 600px) {
  .payment-site h3 {
    margin: 2rem 20rem;
  }
  .payment-site .tilbage {
    margin: 2rem 22rem;
  }
  .pay-group {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 2rem 20rem;
    padding: 3rem;
  }

  .mobilepay {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 2rem 20rem;
    padding: 3rem;
  }
}

.pay-group {
  background-color: var(--light-50);
  padding: 2rem;
  border-radius: 30px;
  margin: 1rem;
}

#payment input {
  padding: 1rem 12rem 1rem 0.7rem;
  border-radius: 12px;
  border: none;
  margin: 1rem;
}

#payment #number {
  padding-left: 0.7rem;
  padding-right: 0;
}

#payment #cvv {
  padding: 1rem;
}

.mobilepay {
  margin: 1rem;
  background-color: var(--light-50);
  padding: 2rem;
  border-radius: 30px;
}

.mobilepay input {
  padding: 1rem 12rem 1rem 0.7rem;
  border-radius: 12px;
  border: none;
  margin: 1rem;
}

.mobilepay button {
  margin-left: 10rem;
}

.metode {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 5rem;
  background-color: var(--light-50);
  padding: 2rem;
  border-radius: var(--border-radius-m);
}

.metode li {
  list-style: none;
  font-size: var(--font-size-body);
}

.metode input {
  margin-right: 0.5rem;
  padding: 10rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
